body{
  background-color: #D4FFED;
}
.intro{
  background-image: url("../images/background.png");
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 100vh;
  gap: 0px;
  opacity: 0px;
}

@media screen and (min-width: 540px){
  .intro{
    height: 700px;
  }
  .soro-soke-div-mobile{
    display: none;
  }
  .soro-soke-div{
    width: 566px;
    height: 351px;
    position: relative;
    top: 50%;
    left: 3%;
    opacity: 0px;
  }
  
  .soro-soke-div h1{
    font-family: "Roboto Slab", serif;  font-size: 48px;
    font-weight: 700;
    line-height: 63.3px;
    text-align: left;
    color: #04623A;
  }
  
  .soro-soke-div p{
    font-family: "Roboto Slab", serif;
    font-size: 32px;
    font-weight: 400;
    line-height: 42.2px;
    text-align: left;
    color: #313637
  }
  
  .soro-soke-div button{
    width: 398px;
    height: 75px;
    gap: 0px;
    border-radius: 20px;
    opacity: 0px;
    background-color: #FFF310;
    font-family: Roboto Slab;
    font-size: 32px;
    font-weight: 400;
    line-height: 42.2px;
    text-align: center;
    color: #313637;
  }
}

@media screen and (max-width: 540px){
  .soro-soke-div{
    display: none;
  }
  .soro-soke-div-mobile{
    width: 100%;
   opacity: 0px;
   padding: 10px;
  }
  
  .soro-soke-div-mobile h1{
    font-family: "Roboto Slab", serif;  font-size: 48px;
    font-weight: 700;
    line-height: 63.3px;
    text-align: left;
    color: #04623A;
  }
  
  .soro-soke-div-mobile p{
    font-family: "Roboto Slab", serif;
    font-size: 32px;
    font-weight: 400;
    line-height: 42.2px;
    text-align: left;
    color: #313637
  }
  
  .soro-soke-div-mobile button{
    width: 300px;
    height: 75px;
    padding: 15px;
    gap: 0px;
    border-radius: 20px;
    opacity: 0px;
    background-color: #FFF310;
    font-family: Roboto Slab;
    font-size: 28px;
    font-weight: 400;
    line-height: 42.2px;
    text-align: center;
    color: #313637;
  }
}




.feature_header{
  font-family: "Roboto Slab";
  font-size: 48px;
  font-weight: 700;
  line-height: 63.3px;
  text-align: center;
  color: #04623A;
}