.most_wanted{
  background-color:rgb(221, 221, 26);
  margin: 0;
}

.most_wanted h3{
  text-align: center;
  margin-bottom: 75px;
}

.most_wanted img{
    width: 300px;
    height: 302px;
    object-fit: cover;
    object-position: 50% 50%;
    margin-bottom: 10px;
    border-radius: 10px;
}

  /* Mobile */
  @media screen and (max-width: 480px) {
    .most_wanted img{
      width: 250px;
  }
    }


.most_wanted_items{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.item{
  margin: 20px;
}

.most_wanted a{
  text-align: center;
  color: black;
  margin: auto;
}



.flip-card {
  background-color: transparent;
  width: 300px;
  height: 300px;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.flip-card-front {
  background-color: #bbb;
  color: black;
}

.flip-card-back {
  color: white;
  transform: rotateY(180deg);
  display:flex;
  justify-content:center;
  align-items:center;
  flex-direction:column
}
